.btn {
    font-size: 16px;
    border-radius: 30px;
    border: none;
    width: 40%;
    padding: 10px 0;
    background-image: linear-gradient(to left, #6156F9 ,#1A129F);
    color: #ffffff;
}

.btn:hover {
    background-image: linear-gradient(to left, #4f46cf ,#140f79);

}