//h2 titles
$h2FontSize: 50px;
$h2FontWeight: 600;

//p light
$pFontWeightLight: 200;
$pFontSizeLight: 16px;


//miniTitle {
$miniTitleColor:#7E76F9;
$miniTitleFontSize: 20px;
$miniTitleFont: 'Lobster', cursive;

//lato
$latoFont: 'Lato', normal;  